
$colors = {
  gray-9: #999,
  gray: #666,
  dark: #333,
  blue: #3282F1,
  orange: #FF9300,
  red: #FA514B,
  green: #34B31B,
  white: #fff,
  black: #333,
  black-24: #242424,
  black-47: #474747,
  bg: #F6F6F6,
  bg-fff: #fff,
  bg-dark: #666666,
  bg-gray: #c6c6c6,
  bg-light: #f9f9f9,
  bg-light-gray: #f5f5f5,
  bd: #e8eaed,
  bd-light: #d9d9d9,
  bd-white: #ffffff
}
